body {
  height: 90vh;
  box-sizing: border-box;
  margin: 30px;
  border: 30px solid red;
  background-color: blue;
}
div {
  height: 100%;
  box-sizing: border-box;
  border: 30px solid green;
  background-color: yellow;
}